<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Node App</title>
</head>

<body>

<form action="/search" method="POST">

    <input name="price.$lt" type="number"></input>
    <input name="price.$gt" type="number"></input>

</form>

isNaN(parseInt(param)) :

<h1>Ads:</h1>
<div class="item-container">
    <% adverts.forEach(function(advert) { %>
        <div class="item-item">
            <img src="<%= advert.image %>">
            <span class="item-name"><%= advert.name %></span>
            <span class="item-price"><%= advert.price %></span>
        </div>
    <% }); %>
</ul>
</div>
</body>

</html>